:root {
  --primary: #e90093;
  --primary-inverse: #ffffff;
  --primary-light: #ff5bc1;
  --primary-light-inverse: #000000;
  --primary-dark: #c40077;
  --primary-dark-inverse: #ffffff;
  --background: #ffffff;
  --text: rgba(0, 0, 0, 0.87);
  --success: #28a745;
  --success-inverse: #ffffff;
  --info: #17a2b8;
  --info-inverse: #ffffff;
  --warning: #ffc107;
  --warning-inverse: #000000;
  --danger: #dc3545;
  --danger-inverse: #ffffff;
  --light: #f8f9fa;
  --light-inverse: #000000;
  --dark: #343a40;
  --dark-inverse: #ffffff;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-primary: "Open Sans", sans-serif;
  --font-size-base: 16px;
  --font-size-1: .75rem;
  --font-size-2: .875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --spacing-1: .25rem;
  --spacing-2: .5rem;
  --spacing-3: .75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
}

[theme-light] {
  --primary: #ff5bc1;
  --primary-inverse: #000000;
  --background: #ffffff;
  --text: rgba(0, 0, 0, 0.87);
}

[theme-dark] {
  --primary: #c40077;
  --primary-inverse: #ffffff;
  --background: #343a40;
  --text: rgba(255, 255, 255, 0.87);
}
