.nav {
  height: 54px;
}

.nav .nav__list {
  list-style: none;
  height: 100%;
}

.nav .nav__list .nav__item {
  display: inline-block;
  font-size: var(--font-size-3);
}

.nav .nav__list .nav__item .nav__link {
  display: block;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  text-transform: uppercase;
}
